name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    name: Check, Lint & Test
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install nightly toolchain
      run: rustup component add --toolchain nightly-x86_64-unknown-linux-gnu rustfmt

    - name: Format check
      run: cargo +nightly fmt --all --check

    - name: Clippy
      run: cargo clippy --all-targets --all-features -- -D warnings

    - name: Build
      run: cargo build --verbose

    - name: Run tests
      run: cargo test --verbose
